html,
body {
  height: 100%;
}

body {
  align-items: center;
 
  /*  fondo de pantalla*/
  background: url(https://www.wallpapertip.com/wmimgs/95-958782_cinema-screen-png.png)no-repeat center center fixed;

  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  
}
.content-login{
  background-color: hsl(0, 0%, 67%);
  text-align: center;
  align-items: center;
  justify-items: center;
  width:350px; 
  margin: auto;
  margin-top: 75px;
  border-radius: 5%;
  border: 1px solid rgb(7, 1, 32);
  box-shadow: 0px 0px 10px 0px  rgb(15, 0, 0);
  

}
.form-signin {
  width: 100%; 
  max-width: 600px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.cartelera-content{
 
  width: 90%;
  border: 1px  rgb(7, 1, 32);
  box-shadow: 0px 0px 10px 10px  rgb(15, 0, 0);
  background-color: hsl(0, 0%, 67%);

  margin: auto;
}
.text-center{
  text-align: center;
}

.imagen-cartelera{

  width: 300px;
  height: 550px;
  border: 2px solid red ;
}
li .none{
  margin-left: 2em;
  list-style: none;
}
.user-register{
  background-color: hsl(0, 0%, 67%);
  text-align: center;
  align-items: center;
  justify-items: center;
  width:1000px; 
  margin: auto;
  margin-top: 75px;
  border-radius: 5%;
  border: 1px  rgb(7, 1, 32);
  box-shadow: 0px 0px 10px 0px  rgb(15, 0, 0);
}